.error-page {
  color: var(--color-first);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
}

.error-page > .button {
  color: var(--color-second);
  background-color: var(--color-third);
  padding: 5px 10px;
  border-radius: var(--spacing-radius-small);
}

.error-page.dark {
  color: var(--color-second);
  background-color: var(--color-first);
}
