.counter > .counter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.counter-form > .counter-number {
  font-size: 24px;
}

.counter-form > .button,
.counter > .button {
  color: var(--color-second);
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: var(--color-third);
  border: none;
}
