.app {
  color: var(--color-first);
  width: 100%;
  height: 100vh;
  padding-top: 50px;
}

.app > .container {
  margin: 0 auto 85px;
  text-align: center;
}

.app.dark {
  color: var(--color-second);
  background-color: var(--color-first);
}
